

@font-face {
    font-family: 'GMX';
    src: url('../resources/gmx-regular-wisabo/GMX-Regular.otf') format('opentype')
}

body {
    font-family: 'GMX-Regular', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
}

header {
    font-family: "Lora", serif;
    background-image: URL("../resources/BANNER\ Y\ LGOGOS-04.jpg");
    color: white;
    width: 100%;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 5%;
}

.logo {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
}

.logo img {
    width: 100%;
    max-width: 80px;
}

.title {
    margin-top: 15px;
    display: flex;
    width: 250px;
    max-width: 100%;
    margin-left: 20px;
}

.title img {
    width: 100%;
}

.nav {
    background-color: #0e2601;
    width: 100%;
    display: flex;
    padding: 5px 0;
    justify-content: center;
}

nav ul {
    margin: 0;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

nav ul li {
    position: relative;
    margin: 5px 15px;
    padding: 5px;
}

nav ul li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

nav ul li:hover::after {
    transform: scaleX(1);
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
}

main {
    flex: 1;
    margin-top: auto;
    background-color: rgb(246, 243, 243);
    display: grid;
}

.intro {
    text-align: center;
    padding: 20px 5%;
    background-color: rgb(246, 243, 243);
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'GMX', sans-serif;
    font-size: clamp(2rem, 5vw, 4rem);
    margin-top: -20px;
    color: #244711;
    text-align: center;
}

.sub {
    width: 90%;
    max-width: 700px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: -70px;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(0.9rem, 1.2vw, 1.5rem);
    color: #244711;
    text-align: center;
    opacity: 0; 
    transition: opacity 0.5s ease; 
    visibility: hidden;
}


.info-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.title2:hover + .sub {
    opacity: 1;
    visibility: visible;
}


.intro .button {
    display: inline-block;
    margin: 15px 0;
    padding: 10px 20px;
    background-color: #244711;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 0.9rem;
}

.title3 {
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'GMX', sans-serif;
    font-weight: bolder;
    font-size: clamp(1.2rem, 4vw, 2.5rem);
    margin-top: -20px;
    color: #244711;
    text-align: center;
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -20px;
    width: 50%;
    gap: 10%
}

.candidates {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 5%;
    color: #244711;
    gap: 20px;
    margin-top: -10px;
}

.candidate {
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    flex: 1;
    min-width: 200px;
    max-width: 300px;
    margin-bottom: 50px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: rgb(227, 233, 228);
}

.candidate img {
    width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.name {
    color: #183708;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}

.candidate p {
    font-size: clamp(0.8rem, 1vw, 1rem);
}

footer {
    background-image: URL("../resources/BANNER\ Y\ LGOGOS-04.jpg");
    color: white;
    text-align: center;
    padding: 30px 5%;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    place-items: center;
}

.footer-logo img {
    height: 80px;
    max-width: 100%;
}

.link-media {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.link-media a {
    font-size: clamp(0.8rem, 1vw, 1rem);
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.link-media a:hover {
    color: #ff5722;
}

.social-media {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.social-media a {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #252625;
}

/* Media Queries para diferentes tamaños de pantalla */
@media (max-width: 768px) {
    .logos {
        display: flex;
        align-items: center; 
        justify-content: flex-start;
        gap: 10px;
        padding: 0; 
    }
    
    .logo img {
        max-width: 60px;
    }
    
    .title {
        margin-left: 0;
        width: 200px;
    }
    
    nav ul {
        padding: 0 2%;
    }
    
    nav ul li {
        margin: 5px 10px;
    }
    
    nav ul li a {
        font-size: 0.8rem;
    }

    .title2{
        margin-bottom: 0;
    }
    
    .sub {
        margin-top: -100px;
        margin-bottom: 20px;
        display: block;
    }

    .filters{
        width: 100%;
    }
    
    footer {
        grid-template-columns: 1fr;
    }
    
    .link-media, .social-media {
        width: 100%;
    }

    .content-area {
        flex-direction: column;
    }
    
    .video-wrapper, .pdf-container {
        width: 100%;
        min-width: 100%;
    }
    
    .pdf-container {
        border-left: none;
        border-top: 1px solid #ddd;
        height: 300px;
    }
    
    .video-container {
        height: 80%;
        width: 85%;
        margin: 5% auto;
        margin-top: 17%;
    }

    .info-candidate {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        padding-right: 10%;
        gap: 2%;
      }

    .info-candidate h3 {
        font-size: 15px;
        display: flex;
        justify-content: center;
        margin: 0;
    }    
    
    #candidate-type{
        display: none;
    }

    #showIframeButton {
        padding: 8px 5px;
    }

    .filters{
        margin-top: 20px;
        width: 100%;
    }
    
    .option .tooltip {
        display: none;
    }
    
    .option:hover .tooltip {
        display: none;
    }
}

@media (max-width: 480px) {
    .logos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;        
    }
    
    .title {
        width: 180px;
    }
    
    nav ul li {
        margin: 5px;
        list-style: none;
    }
    
    nav ul li a {
        font-size: 0.7rem;
        list-style: none;
    }
    
    .title2 {
        font-size: clamp(1.2rem, 4vw, 2rem);
    }
    
    .sub {
        font-size: clamp(0.8rem, 1vw, 1rem);
        margin-top: 0;
    }
    
    .filters button {
        margin: 5px;
        padding: 8px 15px;
        font-size: 0.8rem;
    }
    
    .candidate {
        min-width: 150px;
    }
    .option .tooltip {
        display: none;
    }
    .option:hover .tooltip {
        display: none;
    }
}